body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 72px;
  padding-bottom: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
}

body.winter {
     background: url("../assets/snow.jpg") repeat;
}

body.spring {
     background: url("../assets/spring.jpg") repeat;
}

body.summer {
     background: url("../assets/summer.jpg") repeat;
}

body.autumn {
     background: url("../assets/autumn.jpg") repeat;
}

.room {
    float: left;
    left: 0;
    top: 0;
    width: 250px;
    height: 250px;
    position: relative;
}

.bedroom {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

.small {
    position: absolute;
    left: 70px;
    top: 30px;
    width: 20%;
    height: 20%;
}
